/* Modal Content/Box */
.modalStyle {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    border: 2px solid;
    border-radius: 10px;
    width: 60vmax; /* Could be more or less, depending on screen size */
    text-align: center;
    box-shadow: 2px 2px 3px #abdbe3;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    padding-right: 5px;
    align-self: flex-end;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.header {
    background-color: #abdbe3;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projectPath {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

.btnBrowse {
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.btnBrowse:hover {
    box-shadow: 2px 2px 3px #abdbe3;
    animation: rotateRight 1s infinite;
}

@keyframes rotateRight {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.recentPath {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

.btnOpen:hover {
    color: black;
    background-color: #abdbe3;
    box-shadow: 2px 2px 2px black;
}