.navStyle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  height: var(--navbar-height);
  background-color: #abdbe3;
}

#logoImg {
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0px;
  width: 100px;
  height: auto;
  pointer-events: none;
}

#settingsBtnLeft {
  position: relative;
  z-index: 3;
  right: 112px;
  border-radius: 100%;
  background-color: #abdbe3;
}

#settingsBtnLeft:hover {
  cursor: pointer;
  animation: rotateRight 2s infinite;
}

#settingsBtnRight {
  position: relative;
  border-radius: 100%;
  background-color: #abdbe3;
}

#settingsBtnRight:hover {
  cursor: pointer;
  animation: rotateLeft 2s infinite;
}

@keyframes moveLeft {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-124px);
  }
}

@keyframes rotateLeft {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes moveRight {
  from {
    transform: translateX(0px) ;
  }
  to {
    transform: translateX(124px);
  }
}

@keyframes rotateRight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.settingsExpand {
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 15px;
  display: flex;
  align-items: flex-end;
  width: 150px;
  height: 150px;
  border-style: solid;
  border-width: 1px;
  border-color: #112E33;
  border-top-left-radius: 13.5%;
  background-color: #abdbe3; /* 2 last hex numbers are for opacity */
  box-shadow: -3px 3px 3px black;
}

.settingsContent {
  padding-top: 10px;
  background-color: white;
  width: 150px;
  height: 105px;
  text-align: start;
}