#workspace {
    display: flex;
}

.filterArea {
    position: absolute;
    z-index: 2;
    left: 120px;
    top: 10px;
    border: 2px solid #00000080;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
    padding: 5px;
}

.optionArea {
    position: absolute;
    background-color: #DBE3AB;
}

.mainArea {
    margin-top: 2rem;
}